

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    height: 300px;
    margin: 0 auto;
    padding: 0 4%;
}
.navi ul {
    display: flex;
    padding: 10px 0;
}
.navi li {
    margin-left: 20px;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    
    max-width: 100%;
}
.insta {
    width: 20px;
}

.mainvisual img {
    height: 400px;
    object-fit: cover;
}

.wrapper {
    max-width: 960px;
    padding: 0 4%;
    margin: 50px auto;
}
.section-title {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 70px;
}
#about li:first-child {
    margin-bottom: 30px;
}
#about ul {
    margin-bottom: 30px;
}

#works ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#works li {
    width: 31%;
    margin-bottom: 30px;
}

#news dl {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #000;
}
#news dt {
    width: 20%;
    border-bottom: 1px solid #000;
    padding: 20px 20px;
}
#news dd {
    width: 80%;
    border-bottom: 1px solid #000;
    padding: 20px 0;
}

#contact dl {
    display: flex;
    flex-wrap: wrap;
}

#contact dt {
    width: 20%;
    margin-bottom: 20px;
}
#contact dd {
    width: 80%;
    border: 1px solid #000;
    margin-bottom: 20px;
}

button {
    display: block;
    padding: 15px 80px;
    background-color: black;
    color: white;
    margin: 0 auto;
}

#footer {
    text-align: center;
    color: white;
    background-color: #000;
    padding: 10px;
    font-size: 10px;
}

@media screen and (max-width:600px){

#header {
    max-width: 100%;
    height: auto;
    flex-direction: column;
}
.logo {
    margin-top: 20px;
}

#works li {
    width: 100%;
    margin-bottom: 30px;
}

#news dl {
    flex-direction: column;
}
#news dt {
    border: none;
}

#contact dl {
    flex-direction: column;
}
}