img {
    max-width: 100%;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
  font-family: 'Noto Sans JP', sans-serif;
}
.open body {
  overflow: hidden;
}
/* ヘッダーここから */
#header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 0 20px 0 40px;
  z-index: 999;
}
#header .header-title {
  font-size: 30px;
  font-weight: bold;
}
.open .header-title {
  opacity: 1;
}
#header .hamburger {
  width: 100px;
  height: 100px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  z-index: 20;
}
#header .hamburger:hover {
  opacity: 0.7;
}
#header .hamburger span {
  width: 50px;
  height: 2px ;
  background-color: #000;
  position: absolute;
  left: 25px;
  transition: 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 36px;
}
.hamburger span:nth-child(2) {
  top: 50px;
}
.hamburger span:nth-child(3) {
  top: 64px;
}
.open .hamburger span:nth-child(1) {
  top: 47px;
  left: 25px;
  background-color: #fff;
  transform: rotate(-45deg);
}
.open .hamburger span:nth-child(2),
.open .hamburger span:nth-child(3) {
  top: 47px;
  background-color: #fff;
  transform: rotate(45deg);
} 
#header-navi {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  color: #fff;
  padding: 36px 50px;
  transition: all 0.5s;
  z-index: 20;
  opacity: 0;
}
.open #header-navi {
  left: 0;
  opacity: 1;
}
#header-navi .navi-menu li {
  margin-bottom: 20px;
}
#header-navi .navi-menu a {
  color: #fff;
  font-size: 25px;
  transition: all 0.2s;
}
#header-navi .navi-menu a:hover {
  font-size: 30px;
}
#mask {
  display: none;
  transition: all 0.5s;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 10;
  cursor: pointer;
}
  /* ヘッダーここまで */
.wrapper {
  max-width: 100%;
}
.kari {
  height: 270px;
  width: 300px;
  transition: all 0.4s;
}
.kari:hover {
  height: 285px;
  width: 315px;
}
.section-title {
  font-size: 35px;
  font-weight: bold;
  padding: 30px;
  text-align: center;
}
.section-items {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: 0 auto;
}
.more {
  text-align: end;
}
.more-btn {
  font-size: 20px;
  border: 1px solid #000;
  padding: 20px 30px;
  border-radius: 5px;
  transition: all 0.4s;
}
.more .more-btn:hover {
  font-size: 25px;
}
.section-items {
  margin-bottom: 40px;
}
section {
  max-width: 1032px;
  margin: 0 auto 80px;
}

/* 各コンテンツ */
.content-title {
  font-size: 20px;
  font-weight: bold;
  padding: 15px 0 20px 10px;
}
/* フェードイン */
.fadein {
  opacity: 0;
  transform: translate(0,80px);
  transition: all 3s;
}
.fadein.scrollin {
  opacity: 1;
  transform: translate(0,0);
}
/* メインビジュアル */
.mainvisual {
  width: 100%;
  object-fit: cover;
  margin-bottom: 200px;
}
.mainvisual img {
  width: 100%;
  height: calc(100vh - 100px);
}
#footer {
  height: 60px;
  background-color: #dddddd;
  color: #000;
  text-align: center;
  padding-top: 25px;
  margin-top: 200px;
}
/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { display: block !important; }
.sp { display: none !important; }
 
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 480px) {
  .pc { display: none !important; }
  .sp { display: block !important; }
}