@media screen and (max-width: 480px) {
    #header {
        padding: 0 10px 0 20px;
    }
    .sp_mainvisual {
        display: block;
    }
    .sp_section-items {
        display: block;
    }
	.menu {
        padding: 50px;
    }
    .mainvisual {
        display: none;
    }
    .wrapper {
        padding: 0 0 50px;
    }
    section {
        padding: 50px 50px 0; 
    }
    .section-items {
        display: none;
    }
    .more {
        text-align: center;
        margin-top: 20px;
    }
    button {
        padding: 10px 100px;
    }
    #footer {
        margin-top: 100px;
    }
    .responsiv {
        width: 100%;
    }
}
